<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Bootstrap -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.css' integrity='sha512-VcyUgkobcyhqQl74HS1TcTMnLEfdfX6BbjhH8ZBjFU9YTwHwtoRtWSGzhpDVEJqtMlvLM2z3JIixUOu63PNCYQ==' crossorigin='anonymous'/>

  <!-- VUE -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- Style CSS -->
  <link rel="stylesheet" href="assets/style/style.css">
  
</head>
<body>
  
<div class="main-wrapper">
  <div id="app">

      <h1>Domanda: {{messaggio}}</h1>
      <h1 :class="isCorrect ? 'green' : '' ">Risposta: {{modello}}</h1>
  
      <input type="radio" id="model3" value="Model 3" v-model="modello">
      <label for="model3">Model 3</label><br>

      <input type="radio" id="modely" value="Model Y" v-model="modello">
      <label for="modely">Model Y</label><br>

      <input type="radio" id="modelx" value="Model X" v-model="modello">
      <label for="modelx">Model X</label>

      <br><img :src="image">
  </div>

</div>




  <script src="assets/script/script.js"></script>
</body>
</html>